# eclipse project file
.settings/
.classpath
.project

# Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### IntelliJ IDEA Web ###
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###Project Specific
**/node_modules/
**/node/
VaadinFlowStartup-12/out/artifacts/vaadinui_poc_war_exploded/META-INF
**/HOME_LOGS_DIR_IS_UNDEFINED
