.workspace {
	overflow: auto;
	background-color: lightgrey;
}
.sideMenu {
	background-color: white;
	z-index: 1000;
	position: absolute;
	transition: 0.2s;
	left: -1000px;
	box-shadow: 2px 1px 5px 0px grey;
}
.card {
	background-color: white;
	flex-shrink: 0;
	box-shadow: 2px 1px 5px 0px grey;
}
.tab {
	flex-direction: column;
}
