version: '3.5'

networks:
   web-app-net:
       name: my-web-app-net
       #driver: overlay
       driver: bridge

volumes:
  auth-db-storage:

services:
  auth-db:
    image: mysql:8.0.13
    environment:
      MYSQL_DATABASE: authDB
      MYSQL_ROOT_PASSWORD: root@123
    ports:
      - 3307:3306
    networks:
      - web-app-net
    volumes:
      - auth-db-storage:/var/lib/mysql

  authapp:
    image: spring-auth-api:1.0
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      server.app.domain: localhost        #Or myapp.com
      server.port.http: 8080
      app.ssl.key-store: cert.p12
      app.ssl.key-store-password: password
      app.db.name: authDB
      app.db.host: auth-db
      app.db.port: 3306
      app.db.username: root
      app.db.password: root@123
      spring.profiles.active: mysql
      management.endpoints.web.exposure.include: health,metrics,httptrace,prometheus
      app.home.logs: /home/logs
    ports:
      - 8443:8443
      - 8080:8443
    depends_on:
      - auth-db
    restart: on-failure
    networks:
      - web-app-net

##End of Scripts