<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="INSTANCE_NAME" source="spring.application.name"/>
    <!--<springProperty scope="context" name="HOME_LOGS_DIR" source="app.home.logs"/>-->
    <!-- -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] - [%-5level] - %logger{25} - CID[%X{correlationId}] - UID[%X{userId}] - %msg%n</pattern>-->
        </encoder>
    </appender>
    <!-- -->
    <!-- As you can see it contains the maxFileSize, maxHistory and totalSizeCap providing
    it control over the size of individual files as well as the collection of files.
    Therefore the above example will keep 2 days worth of history split into files of 2MB
    and when the total size of all files reaches 10MB the oldest files will be removed.
    -->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOGS_DIR}/${USER}-${HOSTNAME}-${INSTANCE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOGS_DIR}/archive/${USER}-${HOSTNAME}-${INSTANCE_NAME}-%d{yyyy-MM-dd-HH}-%i.log.tar.gz</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            &lt;!&ndash;<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] - [%-5level] - %logger{25} - CID[%X{correlationId}] - UID[%X{userId}] - %msg%n</pattern>&ndash;&gt;
        </encoder>
    </appender>-->
    <!-- -->
    <!-- OFF ERROR WARN INFO DEBUG TRACE -->
    <logger name="com.infoworks" level="INFO"/>
    <!-- -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>
    <!-- -->
</configuration>
